body {
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  
  background-color: #dfe3ee;
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul.navbar-nav a:hover {
  color: yellow !important;
}
.dropdown-menu {
  background-color: black;
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  color: black;
  background-color: black;
}

@media screen and (max-width: 768px) {
 h4 {
     font-size:20px;
    
 }
}

